# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store

# Virtual environment
venv/
.env/

# Data files
*.csv
*.xls
*.xlsx
data/